html,body{
    height:100%;
    width: 100%;
    padding:0;
    margin:0;
    font-family: 'Libre Baskerville', serif;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column-space-between {
    width:100%;
    height:100%; 
    margin: 0 auto;
    max-width: 400px;
    font-size: 0.95rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .app_bar {
    padding: 0 1rem;
    margin-top: 3rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.0rem;
    font-weight: bold;
  }


  .tutorial_item {
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
    line-height: 2.8rem;
    padding: 3rem 0;
  }



  .description {
    padding: 0 1rem;
    line-height: 1.8rem;
  }
  
  .input_primary {
    margin-top: 4rem;
    background: transparent;
    border: none;
    width: 15rem;
    height: 2.5rem;
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.242857px;
    color: #000000;
    background: #A3C7E8;
    border-radius: 24px;
  }

  .input_flat {
    margin: 3rem auto;
    background: transparent;
    border: none;
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
  }


  .margin-top {
    margin-top: 4em
  }

  .margin-top-2 {
    margin-top: 2em
  }

  .margin-bottom-4 {
    margin-bottom: 4em
  }

  body {
    /* width:100%;
    height:100%; */
    background-color:#EAFDFD;
    
    /* display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center; */
  }


  .input {
    background: transparent;
    margin: 8px;
    border: none;
    color: #444;
    text-align: center;  
    font-family: 'Libre Baskerville', serif;
    width: 150px;
    font-size: 18px;
  }

  .container {
    width: 250px;
    height: 280px;
    display:flex;
    margin: auto;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
  }

  .circle-container {
      height: 100%;
      width: 100%;
      display:flex;
      justify-content:center;
      align-items:center;
  }
  
  
  .play {
    width: 200px;
    height: 200px;
    background-color: #ccc;
    animation-name: pulse;
    border-radius: 250px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #333
  }

  .init {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    border-radius: 200px;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #333
  }

  .done {
    width: 150px;
    height: 150px;
    background-color: #aebfb0;
    border-radius: 200px;
    animation-name: pulse-done;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #333
  }


  @keyframes pulse-done {
    0% { background-color: #aebfb0; }
    50% { background-color: #eee; }
    100% { background-color: #aebfb0; }
  }
  
  @keyframes pulse {
    0% {background-color: #ccc; width: 150px; height: 150px; color: #333;}
    50% {background-color: #eee; width: 200px; height: 200px; color: #444; }
    100% {background-color: #ccc; width: 150px; height: 150px; color: #333; }
  }